@use 'utils/functions' as *;
@use 'utils/constants' as *;

$breath-space: 32px;
$price-border-radius: 10px;

.join-form {
  width: 100%;
  height: 100%;
  padding: prem($breath-space);
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: prem($breath-space);
  box-sizing: border-box;
  background-image: url('https://static-cse.canva.com/blob/1210563/10experttipsfordesigningwithablurredbackgroundfeaturedimage.jpg');
  background-size: cover;
  background-position: center;

  &__price-content {
    align-self: flex-start;
    position: relative;
    bottom: 32px;
    right: 32px;

    &__container {
      display: flex;
      flex-direction: column;
      font-style: italic;
      font-size: 1.5rem;

      &__price {
        display: flex;
        align-items: baseline;
        background-color: white;
        border-bottom-right-radius: $price-border-radius;

        span {
          &:first-child {
            padding-right: 0;
            border-bottom-right-radius: 0;
          }

          &:last-child {
            padding-left: prem(4px);
            font-size: 1rem;
          }
        }
      }

      span {
        width: fit-content;
        padding: prem(8px) prem(12px);
        background-color: white;
        border-bottom-right-radius: $price-border-radius;

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: prem($breath-space);

    h1 {
      color: white;
      font-size: 2.2rem;
      font-weight: bold;
    }

    form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: prem(8px);

      input {
        width: 200px;
        height: prem(40px);
        padding: prem(8px) prem(16px);
        border: 1px solid white;
        border-radius: prem(40px);
        background-color: rgba(255, 255, 255, 0.233);
        color: white;
        font-size: 1.1rem;

        &::placeholder {
          color: white;
          opacity: 1;
        }
      }

      button {
        height: prem(40px);
        width: 100px;
        padding: prem(8px) prem(16px);
        border-radius: prem(40px);
        background-color: black;
        color: white;
        box-sizing: unset;
        font-size: 1.1rem;
      }
    }
  }

  &__footer {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: prem($breath-space);
    box-sizing: border-box;

    &__divider {
      height: 1px;
      width: 100%;
      background-color: white;
    }

    &__infos {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: white;
        font-size: 0.8rem;
      }

      &__container-buttons {
        display: flex;
        align-items: center;
        gap: prem(8px);

        app-button {
          button {
            padding: prem(2px) prem(12px);
            border-radius: prem(10px);
          }

          &:last-child {
            button {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
}
