@use 'utils/functions' as *;
@use 'themes/colors' as *;

$title-border-radius: 10px;
$section-margin-top: prem(48px);

.home {
  height: 100%;
  box-sizing: border-box;

  .main-content {
    height: 100vh;
    margin-top: $section-margin-top;
    display: flex;
    gap: prem(32px);
    box-sizing: border-box;

    &__main-section {
      height: 100%;
      flex-grow: 2;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      app-main-card {
        height: 100%;
      }

      &__container-title {
        margin-bottom: prem(40px);
        display: flex;
        gap: prem(8px);
        align-items: end;
        font-style: italic;

        h1 {
          font-size: 4rem;
          font-weight: bold;
        }
      }

      &__card-title-container {
        &__tag-container {
          background-color: white;
          display: flex;
          gap: prem(8px);
          align-items: center;
          width: fit-content;
          padding: prem(8px) prem(12px);
          border-radius: $title-border-radius $title-border-radius 0 0;

          &__dot {
            width: 4px;
            height: 4px;
            background-color: $primary-color;
            border-radius: 50%;
          }
        }

        &__title-messages {
          display: flex;
          flex-direction: column;
          font-size: prem(32px);

          &__message {
            width: fit-content;
            padding: prem(4px) prem(12px);
            background-color: white;
            border-bottom-right-radius: $title-border-radius;

            &:first-child {
              border-top-right-radius: $title-border-radius;
            }

            &:last-child {
              border-bottom-left-radius: $title-border-radius;
            }
          }
        }
      }
    }

    &__side-section {
      margin-top: prem(50px);
      display: flex;
      flex-direction: column;
      gap: prem(32px);
      box-sizing: border-box;

      app-carousel-card {
        flex-grow: 1;
      }
    }
  }

  .articles-section {
    margin-top: $section-margin-top;
  }
}
